<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BaseAddress" value="https://ttapps/tessa" />
    <add key="InstanceName" value="test_tessa" />

    <add key="Logo" value="Logo.png" />
    <add key="LogoText" value="ТЕСТОВЫЙ СЕРВЕР (23)" />
    <add key="LogoHideVersion" value="false"/>
    <add key="Title" value="ТЕСТОВЫЙ СЕРВЕР (23)" />

    <add key="OpenTimeout" value="00:01:01" />
    <add key="CloseTimeout" value="00:01:02" />
    <add key="SendTimeout" value="00:42:03" />
    <add key="ReceiveTimeout" value="00:42:04" />

    <add key="MaxPreviewInstances" value="2" />
    <add key="NewTwainDSM" value="false" />
    <add key="SoftwareRendering" value="false" />
    <add key="UseFilePreview64Bit" value="false" />	
    <add key="DefaultProxy" value="http://localhost:8889"/>
    <add key="TessaHostProcessExitWaitingMilliseconds" value="5000" />
  </appSettings>

  <!--
    Разкомментируйте блок ниже, чтобы подключаться к прокси-серверу, требующему авторизации,
    по адресу и порту, указанному в настройке DefaultProxy выше.
    
    Если блок ниже закомментирован, то настройка DefaultProxy не используется.
  -->
  <!--
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="false">
      <module type="Tessa.UI.WebProxy, Tessa.UI" />
    </defaultProxy>
  </system.net>
  -->

  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>