<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target name="file" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/tessa/logs/AppManager.txt" />
    <target xsi:type="EventLog" name="eventlog" source="Tessa Applications" eventId="0" log="Application" />
    <target name="null" xsi:type="Null" formatMessage="false" />
  </targets>

  <rules>
    <logger name="Tessa.Platform.Validation.*" minlevel="Trace" writeTo="null" final="true" />
    <logger name="*" minlevel="Error" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="eventlog" />
  </rules>

</nlog>